<section id="gtco-welcome" class="mt-5 mb-5 bg-white section-padding">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div
          class="col-sm-12 col-md-5 img-bg d-flex shadow align-items-center justify-content-center justify-content-md-end img-2"
          style="background: url(../../assets/img/hero-2.jpg) no-repeat;">

        </div>
        <div class="col-sm-12 col-md-7 py-4 pl-md-0 pl-4">
          <div class="heading-section pl-lg-5 ml-md-5">
            <span class="subheading" style="color: #ffb633;">
              <b>About</b>
              <hr style="border: 1px solid #ffb633">
            </span>

            <h2>
              Welcome to Resto
            </h2>
          </div>
          <div class="pl-lg-5 ml-md-5">
            <p>I am excited to introduce Amma Ki Kadai, a cloud kitchen business serving Kolkata, WB. Our mission is to serve
            delicious, home-cooked style Indian food to our customers in the comfort of their own homes. We offer a wide range of
            dishes, from classic North Indian favorites like ​Chole Bhature to South Indian specialties like Dosa. Our menu is
            constantly changing in order to offer customers something new and exciting every time they order. We prioritize the use
            of fresh ingredients and traditional spices to ensure that we provide our customers with the best experience possible.
            Our chefs are trained to bring out the flavors of the spices and ingredients to create the most flavorful dish. We are
            proud to be able to provide our customers with restaurant-quality Indian food at home. We are excited to be part of the
            Kolkata food scene and look forward to serving our customers for many years to come!</p>
            <h3 class="mt-5">Our Team</h3>
            <div class="row">
              <div class="col-4">
                <a href="#" class="thumb-menu">
                  <img class="img-fluid img-cover" src="../../assets/img/chef-1.jpg" />
                  <h6>Australian Organic Beef</h6>
                </a>
              </div>
              <div class="col-4">
                <a href="#" class="thumb-menu">
                  <img class="img-fluid img-cover" src="../../assets/img/chef-2.jpg" />
                  <h6>Australian Organic Beef</h6>
                </a>
              </div>
              <div class="col-4">
                <a href="#" class="thumb-menu">
                  <img class="img-fluid img-cover" src="../../assets/img/chef-3.jpg" />
                  <h6>Australian Organic Beef</h6>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
