<section id="gtco-testimonial" class="mb-5 container-fluid overlay bg-fixed section-padding"
  style="background-image: url(../../assets/img/testi-bg.jpg);">
  <div class="container">
    <div class="section-content">
      <div class="p-5 heading-section text-center">
        <span class="subheading">
          Testimony
        </span>
        <h2>
          Happy Customer
        </h2>
      </div>
      <!-- Testimonial -->
      <div id="carouselControl" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselControl" data-slide-to="0" class="active"></li>
          <li data-target="#carouselControl" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner testi-content">
          <div class="mb-5 mt-2 carousel-item active">
            <i class="testi-icon fa fa-3x fa-quote-left"></i>
            <p class="testi-text ">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
              officia deserunt mollit anim id est laborum.</p>
            <p class="testi-author ">John Doe</p>
            <p class="testi-desc ">CEO of <span>GetTemplates</span></p>
          </div>
          <div class="mb-5 mt-2 carousel-item">
            <i class="testi-icon fa fa-3x fa-quote-left "></i>
            <p class="testi-text ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci
              non doloribus ut, alias doloremque perspiciatis.</p>
            <p class="testi-author ">Mary Jane</p>
            <p class="testi-desc ">CTO of <span>Unidentity Inc</span></p>
          </div>
        </div>
        <!-- <a class="carousel-control-prev" href="#carouselControl" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselControl" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a> -->
      </div>
      <!-- End of Testimonial -->
    </div>
  </div>
</section>
