<section id="gtco-special-dishes" class="mt-5 mb-5 pb-5 bg-grey section-padding">
  <div class="container">
    <div class="section-content">
      <div class="heading-section text-center">
        <span class="subheading">
          <b style="color: #ffb633">Specialties</b>
        </span>
        <h2>
          Special Dishes
        </h2>
      </div>
      <div *ngFor="let dish of dummy;let i=index">
        <div *ngIf="i%2===0" class="row mt-5">
          <div class="col-lg-5 col-md-6 align-self-center py-5">
            <h2 class="special-number">{{i+1}}.</h2>
            <div class="dishes-text">
              <h3 style="color: #ffb633; font-weight: bold;">{{dish.name}}</h3>
              <p class="pt-3">{{dish.desc}}</p>
              <h3 class="special-dishes-price">₹ {{dish.price}}</h3>
              <a href="#" class="btn btn-warning mt-3">book a table</a>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center mt-4 mt-md-0">
            <img src="../../assets/img/steak.jpg" alt="" class="img-fluid shadow w-100">
          </div>
        </div>
        <div *ngIf="i%2!=0" class="row mt-5">
          <div class="col-lg-5 col-md-6 align-self-center order-2 order-md-1 mt-4 mt-md-0">
            <img src="../../assets/img/salmon-zucchini.jpg" alt="" class="img-fluid shadow w-100">
          </div>
          <div class="col-lg-5 offset-lg-2 col-md-6 align-self-center order-1 order-md-2 py-5">
            <h2 class="special-number">{{i+1}}.</h2>
            <div class="dishes-text">
              <h3 style="color: #ffb633; font-weight: bold;">{{dish.name}}</h3>
              <p class="pt-3">{{dish.desc}}</p>
              <h3 class="special-dishes-price">₹ {{dish.price}}</h3>
              <a href="#" class="btn btn-warning mt-3">book a table <span><i
                    class="fa fa-long-arrow-right"></i></span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
