<div class="mainDiv">
  <div class="cardStyle">
    <form
      action=""
      method="post"
      name="signupForm"
      id="signupForm"
      [formGroup]="forgetFormGroup"
    >
      <img [src]="imgPath" id="signupLogo" />

      <h2 class="formTitle">Forget your password?</h2>

      <div class="container-fluid" *ngIf="!checkOtp">
        <label class="inputLabel" for="password">Email Address</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fas fa-envelope"></i
            ></span>
          </div>
          <input
            type="email"
            class="form-control"
            placeholder="enter your email"
            formControlName="email"
            aria-label="email"
            aria-describedby="basic-addon1"
            required
          />
        </div>

        <label class="inputLabel" for="confirmPassword"
          >Phone Number (Optional)</label
        >
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fas fa-phone"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="enter your phone number"
            formControlName="phoneNo"
            aria-label="phoneNo"
            aria-describedby="basic-addon1"
          />
        </div>
        <div class="buttonWrapper text-center">
          <button
            type="submit"
            id="submitButton"
            (click)="validateForgetForm()"
            class="btn btn-warning pl-5 pr-5"
          >
            <span>Continue</span>
          </button>
        </div>
      </div>

      <div class="container-fluid" *ngIf="checkOtp">
        <label class="inputLabel" for="password">Validate OTP</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"
              ><i class="fas fa-lock"></i
            ></span>
          </div>
          <input
            type="text"
            class="form-control"
            placeholder="enter your otp"
            formControlName="otp"
            maxlength="6"
            aria-label="otp"
            aria-describedby="basic-addon1"
            required
          />
        </div>
        <div class="text-center">
          <a
            (click)="validateForgetForm()"
            style="cursor: pointer; text-decoration: underline"
            >Resend OTP</a
          >
        </div>
        <div class="buttonWrapper text-center">
          <button
            type="button"
            (click)="checkOtp = !checkOtp"
            class="btn btn-warning pl-5 pr-5 pull-left"
          >
            <span>Back</span>
          </button>
          <button
            type="submit"
            id="submitButton"
            (click)="validateOtp()"
            class="btn btn-warning pl-5 pr-5 pull-right"
          >
            <span>Verify</span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
