#gtco-special-dishes .special-number {
  position: relative;
  font-size: 60px;
}
#gtco-special-dishes .special-number:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 90px;
  width: 200px;
  height: 1px;
  background: #000;
}

#gtco-special-dishes h3 span {
  color: #f34949;
}

.dishes-text {
  padding-left: 90px;
}
.btn-warning {
  background-color: #ffb633;
}

#page ::ng-deep .ngx-pagination .current {
  background: #ffb633 !important;
  color: black !important;
}

.route {
  text-decoration: none;
  color: #ffb633;
}

.route:hover {
  text-decoration: underline;
  text-decoration-color: #ffb633;
}